USE_ADLS=false
ADLS_STORAGE_ACCOUNT=your_storage_account
ADLS_TENANT_ID=your_tenant_id
ADLS_CLIENT_ID=your_client_id
ADLS_CLIENT_SECRET=your_client_secret
ADLS_PREDICTIONS_PATH=daily_port_calls/
ADLS_ARIMA_PATH=daily_port_calls/arima
CACHE_TTL_SECONDS=300
